$card-gap: 50px;
$card-padding: 50px;
$card-border-radius: 20px;
$card-button-padding: 10px 20px;
$card-button-bg-color: #1f72d2;
$card-button-hover-bg-color: #0056b3;

.cardContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: $card-gap;
  padding: $card-padding;

  @media (max-width: 768px) {
    flex-direction: column;
    align-items: center;
  }

  .card {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    border-radius: $card-border-radius;
    flex: 0 1 300px;
    max-width: 300px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;

    @media (max-width: 768px) {
      flex: 0 1 100%;
      max-width: 100%;
    }

    .cardHeader {
      font-size: 1.5rem;
      font-weight: bold;
      padding: $card-button-padding;
    }

    .cardBody {
      font-size: 0.85rem;
      color: #808080;
      text-align: justify;
      padding: $card-button-padding;
    }

    .cardImage {
      width: 100%;
      border-top-left-radius: $card-border-radius;
      border-top-right-radius: $card-border-radius;
    }

    .cardButton {
      background-color: $card-button-bg-color;
      color: #fff;
      border: none;
      padding: $card-button-padding;
      width: calc(100% - 40px);
      border-radius: 50px;
      cursor: pointer;
      font-size: 1rem;
      font-weight: bold;
      margin-top: auto;
      margin-bottom: 10px;
      align-self: center;

      &:hover {
        background-color: $card-button-hover-bg-color;
      }
    }
  }
}
